html, body {
  height: 100%;
  width: 100%;
}

/*

https://www.w3schools.com/cssref/playdemo.php?filename=playcss_justify-self

*/

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  border-radius: 5px;
  padding: 2px;
  font-size: 16px;  
  column-gap: 00px;
  row-gap: 10px;
}


.grid-item:hover {
  background__: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.grid-item {
  border: 1px solid transparent; /* prevent wobbeling on hover*/ 
  border-radius: 5px;
  /* border: none; */
  padding: 2px;
  text-align: right;
}


.grid-idx {
  padding: 2px;
  border: 1px solid transparent; /* prevent wobbeling on hover*/ 
  border-radius: 5px;
  font-weight: bold;
  text-align: right;
}


-- fail
-- .grid-container > *:nth-child(3n + 5), .grid-container > *:nth-child(3n + 6) {
--  background: aliceblue;
-- }


.grid-odd___{
  background-color: rgb(236, 249, 253, 0.8);
  border-radius: 5px;
}

.grid-3rd {
  border-radius: 0px;
  border-bottom: 1px dashed  lightblue;
  /*position: absolute;*/
  /*grid-column: 2 / -1; /*--- maybe used for grouping ....*/
  /*z-index: -1;*/
}

.grid-head {
  padding: 2px;
  font-weight: bold;
  text-align: right;
  border-radius: 0px;
  border-bottom: 1px solid lightblue;
}


.index {
  float: left;
  padding-right: 10px;
}

.grid-filter{
  padding: 10px 20px 10px 20px;
}

.grid-with-filter{
  float: right;
  width: 95%;
  /* padding: 10px 20px 10px 20px;    gain space for move handle */
  padding: 0px 20px 10px 20px;
  border: 1px dashed white;
  border-radius: 5px;
  margin: 10px;
  overflow: auto;
  background: rgba(255,255,255,0.90);
}

.grid-with-filter:hover {
  /* resizable with handle */
  border: 1px solid lightblue;
  resize: both;
  overflow: auto;
}


.modified { 
  border: 1px dashed rgba(255, 0, 0, 0.5) ;
  border-radius: 5px;
}

.modified:hover { 
  border: 1px solid rgba(255, 0, 0, 0.5) ;
  border-radius: 5px;
}

.saved { 
  background: lightgreen;
  border: 1px solid rgba(0, 0, 255, 1) ;
  border-radius: 5px;
}

.headlineIconSpace{
  margin-left: 5px;  
}

.superscript{
  position: relative;
  font: normal normal 0.6em arial,serif;
  margin-left: 2px;  
  font-size: 0.6em;
  bottom: 0.5em;  
}

.fa {
   padding: 2px;
   width: 10px;
 } 

.icon-inactiv , .fa-sort{
  color: lightgray;
  -webkit-text-stroke: 2px white; /* simulate light */
}

.icon-inactiv:hover , .fa-sort:hover{
  color: gray;
  -webkit-text-stroke: 0px white; /* simulate light */
}


#spacer{
  clear: both;
  height: 800px;
}

#log_div{
  margin-top: 50px;
}

#hint{
  color: red
}



/*

Menu 

*/


#context-menu {
  position: fixed;
  z-index: 10000;
/*  font-family: "Open Sans", sans-serif;*/
  padding: 0;
  margin: 0;
  width: 150px;
  background: #1b1a1a;
  border-radius: 5px;
  transform: scale(0);
  transform-origin: top left;
  /* adjust for UL */
  background: rgba(255,255,255,0.8);
  width: 300px;
  padding: 10px;
  border: 1px solid rgb(173, 216, 230);
}

#context-menu.visible {
  transform: scale(1);
  transition: transform 200ms ease-in-out;
}

#context-menu .item {
  padding: 8px 10px;
  font-size: 15px;
  color: #eee;
  cursor: pointer;
  border-radius: inherit;
}

#context-menu .item:hover {
  background: #343434;
}

/*

  Menu ul

*/

ul, #myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg);  
}

.nested {
  display: none;
}

.active {
  display: block;
}


/*

  Circular menu 

*/



#context-menu-circular {
  position: fixed;
  z-index: 10000;
/*  font-family: "Open Sans", sans-serif;*/
  padding: 0;
  margin: 0;
  width: 50px;
  background: none;
  border-radius: 5px;
  transform: scale(0);
  transform-origin: top left;
  /* adjust for UL */
  /*background: rgba(255,255,255,0.8);
  width: 150px;
  padding: 10px;
  border: 1px solid rgb(173, 216, 230);
  */
}

#context-menu-circular.visible {
  transform: scale(1);
  transition: transform 200ms ease-in-out;
}

.cmc-item {
  position: fixed;
  z-index: 10000;
/*  font-family: "Open Sans", sans-serif;*/
  padding: 0;
  margin: 0;
  border-radius: 5px;
  /* adjust for UL */
  background: rgba(255,255,255,0.8);
  width: 150px;
  height: 18px;
  padding: 2px 5px 1px 5px ;
  border: 1px solid rgb(173, 216, 230);
  
}

.cmc-item-left {
  text-align: right;
}


.cmc-item:hover {
  background: rgba(255,255,255,0.8);
  border: 1px solid rgb(255, 128, 64);
  
}


/*

 log DIV

*/


.logDiv {
  /* max-height: 100px;    problems on drag and drop */
  height: 100px;
  width: 90%;
  margin: 20px;
}

.logDiv:hover {
    overflow-y: auto;
   /* max-height: 100px; */
}


/*

  Scrollbar 

*/

/*
html::-webkit-scrollbar {
    width: 10px;
  }

html::-webkit-scrollbar-track {
    background: rgb(179, 177, 177);
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 10px;
  }

html::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
    border-radius: 10px;
  }

html::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
    border-radius: 10px;
  }
*/

/* firefox     https://codepen.io/reacraf/pen/ExaBZzZ    */






.resizable {
  scrollbar-width: thin;
  scrollbar-color: #e3e3e3 transparent;
}

/* firefox     https://codepen.io/reacraf/pen/ExaBZzZ    */
//firefox

.resizable {
  scrollbar-width: thin;
  scrollbar-color: $gray--lighter transparent;
}
.resizable:-webkit-scrollbar {
  width: 11px;
}
.resizable:-webkit-scrollbar-track {
  background: transparent;
}
.resizable:-webkit-scrollbar-thumb {
  background-color: $gray--lighter;
  border-radius: 6px;
  border: 3px solid transparent;
}

/* webkit browsers */
.resizable::-webkit-scrollbar,
.resizable::-webkit-scrollbar-thumb {
  height: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

.resizable::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px;
}










.logDiv{
  overflow-y: scroll;
  scrollbar-color: white  white;
  scrollbar-width: none;
}

.logDiv:hover:not(.resizable), .log:hover {
  overflow-y: scroll;
  scrollbar-color: rgb(173, 216, 230) lightgray;
  scrollbar-width: thin;
  border-right: 1px solid lightgray; /* sidebaar indicator*/
  border-bottom: 1px solid lightgray; /* sidebaar indicator*/
}


/*

  resizer

*/

.resizable {  
  position: relative; 
}

.resizer {
  width: 10px; 
  height: 3px; 
  position:absolute; 
  right: 0; 
  bottom: 0;
  cursor: se-resize;
  /*background: blue;*/ 
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  rotate: -45deg;
  /*rotate: 135deg; some how this creates a strange scrollbar 
  scrollbar-width: none !important; */ 
  z-index: 10000;
}

.resizerHorizontal {
  width: 10px; 
  height: 3px; 
  /*background: black; */
  position:absolute; 
  right: 50%; 
  bottom: 0; 
  cursor: ns-resize;
  /* like to bars */ 
  border-top: 2px solid black;
  border-bottom: 2px solid black;
    z-index: 10000;

  
}


/*

  input mirror

*/

.CodeMirror {
	clear: both;
	width: 75%;
  margin: auto; /* center */
  height: auto; /* fit to text -- could be set fixed value to scroll */
 	border: white 1px solid; /* prevent wobbeling */
  border-radius: 5px;
  
}

.CodeMirror:hover {
 	border: lightgray 1px solid;
}


/*
   msg
*/

.msgNew {
    color: green;
}

.msgOutdated{
    color: red;
}


/*

  Drag

*/

.draggable {
  position: absolute;
  z-index: 9;
  /*
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  */
}

.dragHandle {
  padding: 10px;
  cursor: move;
  z-index: 10;
  /* background-color: rgb(173, 216, 230); */
  background-color: #fffff;
  color: #fff;
}

.dragHandle:hover {
  background-color: #2196F3;
}